{% extends 'base.htm' %}
{% block extrahead %}
  <style type="text/css">
      body{
        background-color:#009688;
      }
      #main {
        width: 500px;
        height: 550px;

        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;

        margin: auto;
    }
    #image {
      margin-top: 10px;
      width: 250px;
        height: 250px;
    }
    h1 {
      font-weight: 300;
    }
    </style>
 {% endblock %}
{% block title %}Growlin{% endblock %}
{% block content %}

<div class="container">
  <div class="card hoverable center-align" id="main">
    <img src="../static/img/welcome_logo.png" id="image">
    <h1>Welcome to Growlin</h1>
    {% if current_user.is_authenticated() %}
    <p>Welcome, {{current_user.name}}!</p>
    <div class="row">
      <div class="col s2 offset-s4 hoverable">
        <a href="{{url_for('user_shelf')}}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Shelf">
              <i class="material-icons" style="font-size: 40px">list</i>
            </a>
      </div>
      <div class="col s2 hoverable">
        <a href="{{url_for('logout')}}"  class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Logout">
              <i class="material-icons" style="font-size: 40px">input</i>
            </a>
          </div>
    </div>

    {% else %}
    <p>Welcome! <a href="{{url_for('login')}}">Click here</a> to sign in.</p>
    {% endif %}
  </div>

</div>

{% endblock %}
