<!DOCTYPE html>
<head>
  <link href="/static/materialize/font/material-design-icons/icons.css" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="/static/materialize/css/materialize.css"  media="screen,projection"/>
  {% block extrahead %}{% endblock %}
  <title>{% block title %}Growlin{% endblock %}</title>
</head>
<body>
  {% block body %}
  
  {# Notifications #}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  <div class="">
  {% block content %}
  <title>Hello from Growlin</title>
  {% if username %}
    <h1>Hello {{username}}!</h1>
  {% else %}
    <h1>Hello guest!</h1>
  {% endif %}
  {% endblock %}
  </div>
  {% endblock %}

  <!-- jQuery -->
  <script src="/static/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="/static/materialize/js/materialize.min.js"></script>
</body>
