{% extends 'base.htm' %}
{% block extrahead %}
	<style type="text/css"> 
  		body{
  			background-color:#009688; 
  		}
  		#main {
		    width: 500px;
		    height: 510px;

		    position: absolute;
		    top:0;
		    bottom: 0;
		    left: 0;
		    right: 0;

		    margin: auto;
		}
		#image {
			margin-top: 10px;
			width: 250px;
		    height: 250px;
		}
		h1 {
			font-weight: 300;
		}
    </style>
 {% endblock %}
{% block title %}Growlin{% endblock %}
{% block content %}

<div class="container">
	<div class="card hoverable center-align" id="main">
		<img src="http://zizaza.com/cache/big_thumb/iconset/582520/582522/PNG/512/flat_round/book_flat_book_png_book_icon_web_icon_png.png" id="image">
		<h1>Welcome to Growlin</h1>
		{% if current_user.is_authenticated() %}
		<p>Welcome, {{current_user.name}}! <a href="{{url_for('logout')}}">Click here</a> to sign out.</p>
		{% else %}
		<p>Welcome! <a href="{{url_for('login')}}">Click here</a> to sign in.</p>
		{% endif %}
	</div>

</div>

{% endblock %}
