{% extends 'base.htm' %}
{% block extrahead %}
 	<style type="text/css">
 		#title{
 			font-weight: 300;
 			margin-left: 200px;
 		}
 	</style>
{% endblock %}
{% block content %}

	<nav class="nav-wrapper teal" style="padding-left:20px">
	  <a href="#!" class="brand-logo" style="font-weight: 300">{% block page_title %}Growlin{% endblock %}</a>
	  <ul class="right hide-on-med-and-down">
	    <li>
	        <a href="{{url_for('user_shelf')}}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Shelf">
	        	{{ current_user.name }}
	        </a>
	    </li>
	  	<!-- Shelf Button -->
	    <li>
	        <a href="{{url_for('user_shelf')}}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Shelf">
	        	<i class="material-icons">list</i>
	        </a>
	    </li>
	    <!-- History Button -->
	    <li>
	        <a href="{{url_for('user_history')}}"  class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="History">
	        	<i class="material-icons">history</i>
	        </a>
	    </li>
	    <!-- Logout Button -->
	    <li>
	        <a href="{{url_for('logout')}}"  class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Logout">
	        	<i class="material-icons">input</i>
	        </a>
	    </li>
	  </ul>
	  <!-- Side navigation -->
	  <ul id="slide-out" class="side-nav">
	    <li class="logo">
	      <a href="#"><b>{{ current_user.name }}</b></a>
	    </li>
	    <li><a href="{{url_for('user_shelf')}}">Shelf</a></li>
	    <li><a href="{{url_for('user_history')}}">History</a></li>
	    <li><a href="{{url_for('logout')}}">Logout</a></li>
	  </ul>
	  <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
	</nav>

	{% block user_content %}
	<p>You should ideally not be reading this message, unless you are a developer.</p>
	{% endblock %}

  <!--footer, if any-->
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
  // Initialize collapse button
  $(".button-collapse").sideNav();
  // Initialize collapsible (uncomment the line below if you use the dropdown variation)
  $('.collapsible').collapsible();
</script>
{% endblock %}
