{% extends 'base.htm' %}
{% block content %}
<form action="{{url_for('user_borrow')}}" method="POST">
{% if error or form.errors%}
<ul style="color: red">
  <li>{{error}}</li>
  {% for field_name, field_errors in form.errors|dictsort if field_errors %}
    {% for error in field_errors %}
      <li>{{error}}</li>
    {% endfor %}
  {% endfor %}
</ul>
{% endif %}
{{form.csrf_token}}  
{% if form.item %}{# implies borrow confirmation #}
<input id="item" name="item" type="hidden" value="{{form.item}}">
<input id="accession" name="accession" type="hidden" value="{{form.accession}}">
<p>Please confirm that you want to borrow "{{item.title}}"</p>
<a href="{{url_for('user_shelf')}}">Cancel</a>
<input type="submit" value="Confirm" />
{% else %}
<p>Enter accession: {{form.accession}}</p>
<a href="{{url_for('user_shelf')}}">Cancel</a>
<input type="submit" value="Next" />
{% endif %}
</form>
{% endblock %}
