{% extends 'user/base_user.htm' %}
{% import 'shelf/macros.htm' as shelf_macros %}

{% block extrahead %}
  <style type="text/css">
      body{
        background-color: #eeeeee;
      }
  </style>
{% endblock %}

{% block page_title %}Shelf{% endblock %}

{% block user_content %}

<div class="collection">
  {% for item in records -%}
  {{ shelf_macros.render_item(item, returnable=True) }}
  {%- endfor %}
</div>

<!-- FAB (Floating Action Button) -->
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <!-- Borrow Button -->
  <a class="btn-floating btn-large red tooltipped waves-effect waves-light" 
  data-position="left" 
  data-delay="50" 
  data-tooltip="Borrow"
  href="{{url_for('user_borrow')}}"
  onclick="Materialize.toast('Thanks For Borrowing!', 4000)">
    <i class="large fa fa-plus"></i>
  </a>
  <ul>
    {% for t in item_types -%}
    <li>
      <a class="btn-floating btn-large {{ t.icon_color or 'blue' }} tooltipped waves-effect waves-light"
       data-position="left" 
       data-delay="50" 
       data-tooltip="Borrow {{ t.name }}"
       href="{{url_for('user_borrow')}}?item_type={{ t.name }}">
        <i class="fa fa-{{ t.icon_name or 'plus' }}"></i>
      </a>
    </li>
    {%- endfor %}
    <!-- More Buttons Can Be Added Here -->
  </ul>
</div>
      
<script type="text/javascript">
  $(document).ready(function(){
    $('.collection-item').mouseenter(function(){
      $(this).addClass("teal lighten-4");
    });
    $('.collection-item').mouseleave(function(){
      $(this).removeClass("teal lighten-4");
    });
  });
</script>
{% endblock %}
