{% extends 'user/base_user.htm' %}
{% import 'shelf/macros.htm' as shelf_macros %}

{% block extrahead %}
  <style type="text/css">
      body{
        background-color: #eeeeee;
      }
  </style>
{% endblock %}
{% block page_title %}History{% endblock %}
{% block user_content %}
<div class="row">
  <div class="col m2">&nbsp;</div>
  <div class="col m8 s12 collection ">
      {% for r in records -%}
      {{ shelf_macros.render_item(r.item, borrow_date=r.borrow_date) }}
      {%- endfor %}
    </div>
  </div>
  <div class="col m2">&nbsp;</div>
</div>
{% endblock %}
{% block extrajs -%}
{{ super() }}
<script type="text/javascript">
  $(document).ready(function(){
    $('.collection-item').mouseenter(function(){
      $(this).addClass("teal lighten-4");
    });
    $('.collection-item').mouseleave(function(){
      $(this).removeClass("teal lighten-4");
    });
  });
</script>
{%- endblock %}
