{% macro render_item(item, returnable=False, borrow_date=None, now=None, current_user=None) -%}
<div class="collection-item avatar">
  <img src="../../static/img/book.png" alt="" class="circle">
  <!-- 
      Over Here Depending on the 'pubtype'
      the icon could change.
      Currently I've Just put one book icon.
      -abhiniype
   -->
  <span class="title"><b>{{item.title}}</b></span>
  {% if item.authors|length > 0 -%}
    <span class="authors">
      {%- if item.authors|length == 1 -%}
        by {{ item.authors[0] }}
      {%- endif -%}
    </span>
  {%- endif %}
  {% if borrow_date or item.borrow_current.borrow_date %}
  <p style="color: #7F7F7F;"><span class="tooltipped" data-tooltip="{{ borrow_date or item.borrow_current.borrow_date }}" data-position="bottom">borrowed {{ pretty_date(borrow_date or item.borrow_current.borrow_date) }}</span></p>
  {%- endif %}
  {% if returnable -%}
  <a href="{{ url_for('user_return', borrowid=item.id) }}" class="secondary-content tooltipped" data-position="left" data-delay="50" data-tooltip="Return">
    <i class="material-icons" style="font-size:40px">done</i>
  </a>
  {%- else -%}
  <a href="#" class="secondary-content tooltipped" data-position="left" data-delay="50" data-tooltip="More info">
    <i class="material-icons" style="font-size:40px">info</i>
  </a>
  {% endif -%}
</div>
{%- endmacro %}
