{% extends 'base.htm' %}
{% block content %}
<ul class="nav-toolbar">
  <li><a href="{{url_for('user_shelf')}}">Shelf</a></li>
  <li><a href="#">History</a></li>
  <li><form><input type="search"><input type="submit" value="Search books"></form></li>
  <!--add more menu items here, if required-->
  <li><a href="{{url_for('logout')}}">Logout</a></li>
</ul>
    {% block user_content %}
    <p>You should ideally not be reading this message, unless you are a developer.</p>
    {% endblock %}

  <!--footer, if any-->
{% endblock %}
