{% extends 'user/base_user.htm' %}
{% block user_content %}
<table>
  {% for r in records %}
  <tr>
    <td>{{r.copy.item.pubtype}}</td>
    <td>{{r.copy.item.title}}</td>
    <td>{{r.borrow_date}}</td>
    <!--...-->
    <td><a href="#">Return</a></td>
  </tr>
  {% endfor %}
</table>

  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <!-- Borrow Button -->
    <a class="btn-floating btn-large red tooltipped" data-position="left" data-delay="50" data-tooltip="Borrow">
      <i class="large material-icons">class</i>
    </a>
    <ul>
      <!-- Renew Button -->
      <li>
        <a class="btn-floating btn-large blue tooltipped" data-position="left" data-delay="50" data-tooltip="Renew">
          <i class="material-icons">loop</i>
        </a>
      </li>
      <!-- Return Button -->
      <li>
        <a class="btn-floating btn-large green tooltipped" data-position="left" data-delay="50" data-tooltip="Return">
          <i class="material-icons">done</i>
        </a>
      </li>
      <!-- More Buttons Can Be Added Here -->
    </ul>
  </div>
        

{% endblock %}
